input { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none;-o-appearance: none; appearance: none; border-radius:0;}

.ang-select-button .multiselect-parent{
    width: 100%;    
}
.ang-select-button .multiselect-parent>.btn:first-child{
  
    height:35px;
    border: 1px solid #ccc;
    font-size:15px;
    color: #333;
    font-weight: 100 ;
    text-align:left;
}

.ang-select-button .multiselect-parent>.btn:first-child:hover{
    background-color: white;
}
.ang-select-button .multiselect-parent .dropdown-toggle{
    width: 100%;
    }

.ang-select-button .multiselect-parent .dropdown-toggle .caret{
    margin-top:11px;
    float:right;
} 

.ang-select-button .multiselect-parent ul.dropdown-menu-form{
    overflow-x: hidden!important;
    overflow-y: scroll!important;
    height:159px!important;
}

.ang-select-button .multiselect-parent ul.dropdown-menu-form::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 1px;
    background-color: #F5F5F5;
}
.ang-select-button .multiselect-parent ul.dropdown-menu-form::-webkit-scrollbar
{
    position:relative;
    right:20px!important;
    width: 8px;

    background-color: #F5F5F5;

}
.ang-select-button .multiselect-parent ul.dropdown-menu-form::-webkit-scrollbar-thumb
{
    border-radius: 8px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #00acdb;
}

.ang-select-button .multiselect-parent>.btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #333;
     background-color: #fff;
    border-color: #adadad;
}

.ang-select-button .multiselect-parent>.btn.active, .btn:active {
    background-image: none;
    outline: 0;
     -webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0);
     box-shadow: inset 0 3px 5px rgba(0,0,0,0);
}
.ang-select-button .multiselect-parent>.btn-default:focus {
    color: #333;
     background-color: #fff;
     border-color: #8c8c8c;
}

.ang-select-button .checkbox{
    padding: 0;   
}
.ang-select-button .checkbox label label{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: 1px;
    cursor: pointer;
    border:1px solid grey;
    border-radius: 50px; 
}
.ang-select-button .checkbox label label:after {
    content: '';
    width: 10px;
    height: 7px;
    position: absolute;
    top: 4px;
    left: 24px;
    border: 3px solid #00acdb;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.ang-select-button .checkbox label label:hover::after {
    opacity: 0;
}
.ang-select-button .checkbox input[type=checkbox] {
    visibility: hidden;
}
.ang-select-button .checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.ang-select-button li>a:focus {
    outline: 0;
    background-color: #fff;
}

.ang-select-button .checkbox label:first-child{
    padding: 3px 0 0 30px;
}
